<h1>New</h1>
<form class="card-new-form" action="/cards/save" method="post" accept-charset="utf-8" enctype="multipart/form-data">

	<input type="text" value="{{id}}" name="id" id="" />

	<div class="stack">

		<div class="form-field">
			<label for="name">Titel</label>
			<input type="text" id="name" name="name" value="{{name}}" autofocus />
		</div>

		<div class="form-field">
			<label for="uri">Pfad zu Audio-Dateien</label>
			<input type="text" id="uri" name="uri" value="{{uri}}" />
			<input type="hidden" id="uri-ghost" name="uri-ghost" value="{{uri}}" />
		</div>

		<div id="file-select-dialog" class="dialog dialog--is-modal" hidden>
			<ul id="file-list" class="file-list">
			</ul>
			<div class="dialog-action-area">
				<button type="button" id="file-select-dialog-close-btn">&times; Abbrechen</button>
				<button type="button" id="file-select-dialog-apply-btn">&check; OK</button>
			</div>
		</div>

		<div class="form-field">
			<label for="image">Bild (Klicken um ein Bild hoch zu laden)</label>
			<input type="hidden" id="image" name="image" value="{{image}}" />
			<div class="image-preview">
				<img tabindex="0" id="preview-image" src="/images/{{image}}" alt="" />
			</div>
		</div>

		<div class="form-field">
			<label for="image">Bild hochladen</label>
			<input type="file" id="upload" name="upload" />
		</div>

		<div class="form-field">
			<label>Bild online suchen</label>
			<button type="button" id="preview-fetch-btn">Online-Bildersuche</button>
		</div>

		<div class="form-field">
			<button type="submit">Speichern</button>
		</div>


		<dialog id="image-select-dialog" class="dialog dialog--is-modal">
			<form>
				<div id="thumbnails">
				</div>
				<button>Abbrechen</button>
				<button type="submit" value="">Bild verwenden</button>
			</form>
		</dialog>

		<input type="hidden" value="{{id}}" name="id" id="id" />
		<input name="download" type="hidden" value="" />
	</div>

</form>
