<form class="card-edit-form" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<div class="stack">
		<div class="form-field">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" value="{{name}}" autofocus />
		</div>
		<div class="form-field">
			<label for="uri">Pfad zu Audio-Dateien</label>
			<input type="text" id="uri" name="uri" value="{{uri}}" />
		</div>
		<button type="submit">Speichern</button>
	</div>
	<div class="stack">
		<div class="form-field">
			<label for="image">Bild</label>
			<!-- <input type="hidden" id="image" name="image" value="{{image}}" /> -->
			<div class="image-preview">
				<img id="preview-image" src="/images/{{image}}" alt="" />
			</div>
		</div>

		<div class="form-field">
			<label for="image">Bild hochladen</label>
			<input type="file" id="upload" name="upload" />
		</div>

		<div class="form-field">
			<label>Bild online suchen</label>
			<button id="preview-fetch-btn">Online-Bildersuche</button>
		</div>

		<div id="thumbnails"></div>
		<input type="hidden" value="{{id}}" name="id" id="id" />
		<input name="download" type="hidden" value="" />
	</div>

</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
	var btn = document.getElementById('preview-fetch-btn');
	var previewImage = document.getElementById('preview-image');
	var thumbnails = document.getElementById('thumbnails');
	btn.addEventListener('click', function(ev) {
		ev.preventDefault();

		var xhr = new XMLHttpRequest();
		var data = new FormData();
		data.append('query', document.getElementById('name').value);
		xhr.open('POST', '/imagesearch');
		xhr.addEventListener('load', function() {
			if (this.status < 200 || this.status >= 400) {
				console.log("XHR Failed");
			}
			var results = JSON.parse(this.response);
			console.log(results);
			results.forEach(function(result, i) {
				var image = new Image();
				image.src = 'https:' + result.thumbnail;
				image.dataset.url = result.media;
				thumbnails.appendChild(image);
				thumbnails.hidden = false;
				image.addEventListener('click', function(ev) {
					document.querySelector('[name=download]').value = this.dataset.url;
					previewImage.src = this.dataset.url;
					thumbnails.hidden = true;
				});
			});
		});
		xhr.send(data);

	});
	document.getElementById('upload').addEventListener('change', function() {
		var reader = new FileReader();
		reader.addEventListener('load', function(ev) {
			previewImage.src = ev.target.result;
		});
		reader.readAsDataURL(this.files[0]);
	});
});
</script>
