<div class="card">
	<div class="card__image">
		<img src="/images/{{image}}" alt="" />
	</div>
	<div class="card__body">
		<h2 class="card__title">{{name}}</h2>
		<div class="card__uri">{{uri}}</div>
		<div class="card__id">ID: {{id}}</div>
		<a href="/cards/edit/{{id}}">bearbeiten</a>
	</div>
</div>
